<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">チャットアプリ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> 
                </li>
                <li class="nav-item">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %> 
                </li>
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>

<% if user_signed_in? %>
    ログインアカウント <strong><%= current_user.email %></strong>.
<% end %>
