<p id="notice"><%= notice %></p>

<p>
  <strong>RoomName:</strong>
  <%= @room.name %>
</p>

<div class="container">
  <%= render 'remark', remarks: @remarks %>
</div>
<hr>
<%= render 'remark_form', remark: @remark %>

<%= link_to 'Back', rooms_path %>
