<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @room.ip %>
</p>

<h1>Remarks</h1>

<%= render 'remark', remarks: @remarks %>

<%= render 'remark_form', remark: @remark %>

<%= link_to 'Back', rooms_path %>
